{% extends 'base.html.twig' %}

{% block title %}Crear Pelicula{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="container-crear">
            <div class="mb-3">
                <h1> Crear Peliculas 🆕</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}